*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    background-color: #dedcdc;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    width: 100%;
  height: 73px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.header-fixed{
  width: 100%;
  height: 73px;
  position: fixed;
  left: 0;
  background: #dedcdc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 300;
  border-bottom: 1px solid #bdbdbd;
}
.header-container{
    max-width: 1415px;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
}
.ww_center{
    width: 94%;
    margin: auto;
}
.header-logo {
    width: 200px;
  display: block;
  margin: 0;
  margin-left: 18%;
}
.header-logo img {
    width: 100%;
    height: auto;
    display: block;
}
.header-list{
    
    display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  margin-right: 18%;
}
.header-list-link{
    margin: 0px;
  margin-right: 76px;
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.header-list-link:last-child{
    margin-right: 0;
}
.header-list-link:hover .header-subcategoria-list {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
}

.header-link{
  margin-right: 40px;
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: black;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;

  align-items: center;
  cursor: pointer;
  transition: color 0.3s;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.header-link:hover{
    color:#006699;
}
.header-link::before {
    content: '';
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 0;
    width: 0;
    height: 2px;
    transition: width 0.3s;
    background: #e30000;
  }
  .header-link:hover::before {
    width: 100%;
  }
.header-link.active::before {
    width: 53px;
}
.header-subcategoria-list{
    border-top: 1px solid #bdbdbd;
  position: fixed;
  top: 73.1px;
  left: 0;
  width: 100%;
  background: #d8d8d8;
  padding: 27px 0px 0px;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0,0,0,0.05);
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.05);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.header-subcategoria-content{
  max-width: 1200px;
  width: 60%;
  margin: 0 auto;
}

.header-sub-title {
    padding-bottom: 15px;
  border-bottom: 1px solid #bdbdbd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.header-sub-title h3{
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 18px;
    color: #000;
    margin: 0;
}
.header-subcategoria-box{
    width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.header-subcategoria-box li {
    width: 31.5%;
    margin-right: 2.7%;
}
.header-subcategoria-box li:nth-child(3n + 3) {
    margin-right: 0;
  }
  .header-subcategoria-box li.four {
    width: 23.5%;
    margin-right: 2%;
  }
  .header-subcategoria-box li.four:nth-child(4n + 4) {
    margin-right: 0;
  }
.header-sub-link{
    width: 100%;
  display: block;
  border-bottom: 1px solid #bdbdbd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 44.5px;
  margin-bottom: 30px;
}
.header-sub-img {
    cursor: pointer;
  }
  .header-sub-img:hover + .header-sub-text {
    color: #006699; /* Cambiar a tu color deseado */
  }
  .header-sub-text:hover{
    color: #006699;
  }
  .header-sub-text-box:hover{
    color: #0099cc;
  }
.header-sub-link.active .header-sub-text {
    color: #b80023;
  }
  .header-sub-link.active .header-sub-text-box::before {
    color: #b80023;
  }
.header-sub-img {
  width: 100%;
  padding-bottom: 48.94%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
  transition: transform 0.3s ease-in-out;
}
.header-sub-img:hover{
    transform: scale(1.1);
}
.header-sub-text{
    font-family: 'Roboto-Bold', sans-serif;
  font-size: 14px;
  color: #000;
  letter-spacing: 0.2px;
  -webkit-transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
  -moz-transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
  -ms-transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
  padding: 14px 0px 11px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.header-sub-text p {
    margin: 0;
  }
.header-sub-text-box{
    position: relative;
}
.header-sub-text-box::before{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  font-family: 'icomoon';
  font-size: 18px;
  color: #212020;
  -webkit-transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
  -moz-transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
  -ms-transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
}

/* Navbar */
.dropdown-menu a:hover {
    border: none;
  }


.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown:hover > .dropdown-menu{
    
    opacity: 1;
}
.dropdown-menu{
    flex-wrap: wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    display: flex;
    position: fixed;
    border-top: 5px solid transparent;
    background-color:#006699 ;
    transition: 0.2s linear;
    opacity: 0;
    width: 100% !important;

}
.dropdown-item{
    color: white;
    transition: 0.2s linear;
}
.dropdown-item:hover{
    background-color: #dedcdc;
    color: #006699;
}
.dropdown-item:hover .dropdown-menu{
    opacity: 1;
    top: 100px !important;
    visibility: visible;
}

.dropdown-item:hover .dropdown-menu1{
    opacity: 1;
    top: 100px !important;
    visibility: visible;
}


.nav-item{
    background-color: #006699;
}
.nav-item:hover{
    background-color: #0099cc;
}
.nav-item{
    font-weight: bold;
    color: white;

    border-bottom: 5px solid #006699;
    border-top: 5px solid #006699;
}
.nav-item:hover{
    color: white;
    background-color: #0099cc;
    border-bottom: 5px solid rgb(255, 240, 23);
    border-top: 5px solid #0099cc;
}
.container{
    padding-top: 72px;
    margin-bottom: 50px;
    background: #dedcdc;
    font-size: 20px;
    width: auto;
    border-radius: 10px;
}
.nav-link{

    padding-right: 30px !important;
    padding-left: 30px !important;
    padding: 10px;
    font-weight: bold;
    color: white;
}
.nav-link:hover{
    color: white;
}
.logo{
    padding-right: 30px;
    height: 80px;
}
/* ---------------------------------- */
/* Slider 1*/
#carouselExampleAutoplaying{
    height: 906px;
    padding-bottom: 20px;
}
.carousel-control-prev,
.carousel-control-next {
  top: 50%; /* Coloca el punto central en la mitad de la altura del contenedor */
  transform: translateY(-50%); /* Ajusta la posición vertical */
  height: 50px ;
  width: 50px ;
  margin-left: 10px; /* Ajusta el margen izquierdo */
  margin-right: 10px; /* Ajusta el margen derecho */
}

.carousel-inner{
    width: 100%;
    height: 100% !important;
}

.slide img{
    height: 30%;
}
hr{
    color: white;
}

.Description{
    justify-content: center;
    display: flex;
    align-items: center;
}
.DesEmpre{
    margin-left: 350px;
}
.slide2{
    margin-right: 100px;
    margin-left: 100px;
}
.slide2 img{
    height: 30vh;
}


/* ---------------------------------------------------------- */

.text{
    text-align: center;
}
/*Divisiones*/
.items-divisiones{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.box-divisiones{
    width: 20%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(636px + (660 - 400) * ((100vw - 320px) / (1920 - 320)));
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0;

    transition: 0.5s ease-in-out;
}
.box-divisiones:hover{
    transform: translateY(20px);
}
.box-divisiones::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 0%;
    background: rgba(31, 58, 80, 0.9);
    z-index: 2;
    
    opacity: 1;
}
.box-divisiones:hover::before{
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,rgba(77, 111, 140, 0.5) ,rgba(31, 58, 80, 1));
    opacity: 1;
}
.box-divisiones img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.box-divisiones .text{
    position: relative;
    z-index: 3;
    color: #dedcdc;
    visibility: hidden;
    transform: translateY(370px);
    transition: 0.5s all;
}
.box-divisiones:hover .text{
    color: white;
    visibility: visible;
    transform: translateY(0px);
}
.box-divisiones .text p{
    margin-right: 1rem;
    margin-left: 1rem;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 20px;
    /* visibility: hidden; */
    opacity: 1;
}

/*Slider 3*/
.titulo-servicios{
    padding-top: 80px;
    padding-bottom: 40px;
    text-align: center;
}
.wrapper{
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: 0 auto;
}
.card{
    margin-left: 10px;
    width: 210px;
    height: 540px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    
    transition: 0.5s ease-in-out;
}
.card:hover{
    transform: translateY(20px);
}

.card::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 10%;
    background: rgba(31, 58, 80, 0.9);
    z-index: 2;
    transition: 0.5s all;
    opacity: 1;
}
.card:hover::before{
    width: 100%;
    height: 45%;
    background: linear-gradient(to bottom,rgba(77, 111, 140, 0.5) ,rgba(31, 58, 80, 1));
    opacity: 1;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.card .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 1;
    transform: translateY(460px);
    transition: 0.5s all;
}

.card:hover .info{
    opacity: 1;
    transform: translateY(280px);
}
.card .info .frp,.mpepi,.vi,.bi,.ime{
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    padding-bottom: 15px;
}

.card .info p{
    letter-spacing: 1px;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 20px;
    /* visibility: hidden; */
    opacity: 1;
}
.card .info .button{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4 ease-in-out;
    /* visibility: hidden; */
    opacity: 1;
}

.card .info .button:hover{
    background: rgb(18, 33, 46);
    color: white;
}




/* Estilo de las flechas del slider */
.slick-prev, .slick-next {
    display: none !important;
}



/*--------------------------------------------------------*/
/* Slider 4 */
.titulo-clientes{
    text-align: center;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper{
    padding-bottom: 20px;
    justify-content: center;
    width: 70%;
}
.swiper-slide{
    background-position: center;
    background-size: cover;
    width: 250px;
}
.swiper-slide img{
    display: block;
    width: 100%;
}

/* ---------------------------------- */

/* WhatsApp*/
.whatsapp-icon {
    position: fixed;
    bottom: 20px; /* Distancia desde la parte inferior de la pantalla */
    right: 20px; /* Distancia desde el borde derecho de la pantalla */
    width: 60px;
    height: 60px;
    background-color: rgb(23, 210, 23);
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 60px;
    cursor: pointer;
    display: none; /* Ocultar inicialmente el ícono */
    animation: aparecer 0.5s ease-in-out; /* Animación de aparición suave */
  }
  .whatsapp-icon2 {
    position: fixed;
    bottom: 35px; /* Distancia desde la parte inferior de la pantalla */
    right: 35px; /* Distancia desde el borde derecho de la pantalla */
    width: 30.5px;
    height: 30.5px;
    background-color: rgb(255, 255, 255);
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 60px;
    cursor: pointer;
    display: none; /* Ocultar inicialmente el ícono */
    animation: aparecer 0.5s ease-in-out; /* Animación de aparición suave */
  }
  .whatsapp-icon3 {
    position: fixed;
    bottom: 37.5px; /* Distancia desde la parte inferior de la pantalla */
    right: 37.5px; /* Distancia desde el borde derecho de la pantalla */
    width: 25.5px;
    height: 25.5px;
    background-color: rgb(23, 210, 23);
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 15px;
    line-height: 27px;
    cursor: pointer;
    display: none; /* Ocultar inicialmente el ícono */
    animation: aparecer 1s ease-in-out; /* Animación de aparición suave */
  }
  @keyframes aparecer {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


  
 /* Contactenos */
  .contenedor {
    background-color: #eaeaeac4;
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
    max-width: 900px; /* Limita el ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 20px; /* Agrega un poco de espacio alrededor del contenido */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Agrega sombra para resaltar el contenedor */
    opacity: 0; /* Opacidad inicial en 0 */
    transition: opacity 2s ease; /* Transición para suavizar la aparición */
  }
  /* Estilo de la imagen */
  .mapa iframe {
    max-width:100%; /* Ajusta el tamaño máximo de la imagen */
    max-height: 100%; /* Mantiene la relación de aspecto */
    display: block; /* Elimina el espacio adicional en la parte inferior de la imagen */
    padding-left: 20px;
    padding-right: 40px;
  }
  .mostrar {
    opacity: 1; /* Opacidad a 1 para hacer visible el contenedor */
  }

 /* ------------------------------------------------------------------------------------------- */

  /* Estilo del título */
  .titulo-contactanos {
    margin-bottom: 10px; /* Agrega espacio entre el título y el texto */
    margin-top: 50px;
  }

  /* Estilo del texto */
  .contactenos {
    padding-left: 20px;
    padding-right: 20px; /* Añade un espacio entre el texto y la imagen */
    text-align: justify; /* Alinea el texto a la izquierda */
    width: 400px;
    height: 400px;
  }
  .contactenos p{
    transform: translateY(10px);
  }



.contacto-form {
    max-width: 531px;
    width: 94%;
    margin: auto;
    margin-top: 60px;
}
.contacto-form-title {
    text-align: center;
    padding-bottom: 26px;
}
.contacto-form-title {
    text-align: center;
    padding-bottom: 26px;
}
form {
    display: block;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.contacto-form-inputs li {
    margin-bottom: 10px;
}
li {
    list-style: none;
}
.contacto-input {
    width: 100%;
}
.contacto-input label {
    font-size: 14px;
    color: #000;
    cursor: auto;
    font-family: 'Roboto-Regular', sans-serif;
    margin-bottom: 6px;
}
label {
    display: inline-block;
}
.contacto-input input, .contacto-input textarea {
    width: 100%;
    height: 42px;
    padding: 0px 15px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: transparent;
    border: 1px solid #212020;
}
input, textarea, select {
    border-radius: 0px;
}
button, input {
    line-height: normal;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    border-radius: 0px;
}
.contacto-form-inputs .colum-2 {
    display: flex;
    flex-wrap: wrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    align-items: flex-start;
}
.contacto-form-inputs .colum-2 .contacto-input:first-child {
    margin-right: 4%;
}
.contacto-form-inputs .colum-2 .contacto-input {
    width: 48%;
}
.contacto-input textarea {
    height: 100px;
    padding-top: 10px;
}
textarea {
    font-family: Arial, sans-serif;
    resize: none;
    overflow: auto;
    vertical-align: top;
}
.contacto-campo {
    font-size: 13px;
    color: #bebebe;
    padding-left: 2.4rem;
}
p {
    margin: 0 0 15px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.contacto-btn {
    max-width: 181px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.contacto-btn .btn {
    width: 100%;
    display: block;
}
.btn_46 {
    height: 46px;
    line-height: 46px;
    border-radius: 3px;
}
.btn_red {
    background: transparent;
    border: 1px solid #006699;
    color: #000;
}
.btn_red:hover{
    background:#006699;
    color: white;
}
.btn {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 0px 30px;
    transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    box-sizing: border-box;
}

.footer{
    max-width: 100% !important;
    width: 100% !important;
    background-color: black;
}
.footer-content {
    margin-left: auto;
  margin-right: auto;
    max-width: 900px;
    background-color: black;
}
.ww-center {

    max-width: 900px;
    width: 94%;
    margin: auto;
}
.footer-up {
    display: flex;
    flex-wrap: wrap;
    padding: 37px 0 66px 0;
}
.footer-logo {
    width: 60%;
    margin: 0;
}
.footer-logo img {
    width: 100%;
    height: auto;
    display: block;
}
.footer-info {
    display: flex;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    flex-wrap: wrap;
}
.footer-column {
    box-sizing: border-box;
    padding: 0 30px 0 14px;
}
.footer-subtitle {
    display: block;
    line-height: 1;
    color: white;
    font-family: 'Roboto-Bold', sans-serif;
    margin: 0 0 12px 0;
}
.footer-texts {
    line-height: 1.29;
    letter-spacing: -0.3px;
    color: white;
    font-family: 'Roboto-Light', sans-serif;
}
.footer-texts p {
    margin-bottom: 0.5px;
}
.footer-down {
    display: flex;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0 0 20px 0;
}
.footer-copyright {
    line-height: 1.57;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: 'Roboto-Regular', sans-serif;
    padding-top: 30px;
}
.footer-rightside {
    display: flex;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    flex-wrap: wrap;
}
.footer-texthead {
    display: block;
    line-height: 1.1;
    color: white;
    font-family: 'Roboto-Bold', sans-serif;
    margin: 0;
}
.footer-social ul {
    display: flex;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    padding: 10%;
}
.icon-facebook img{
    width: 80%;
}
.icon-instagram img{
    width: 80%;
}
a{
    color: white;
}
.FooterPage{
    background-color: #111111;
    text-align: center;
    color: white;
    padding: 20px;
}

@media screen and (max-width:1300px){
    .container{
      padding-top: 5%;
    }
    .nav-link{
      padding-right: 20px !important;
      padding-left: 20px !important;
    }
  }
  
  @media screen and (max-width:1200px){
    .container{
      font-size: 16px;
    } 
    #container{
      display: block;
      max-width: 80%;
      padding-right: 0px;
      margin-bottom: 10%;
      margin-top: 5%;
    }
    .contactenos, .contenedor{
        display: block;
        max-width: 80%;
    }
    .text-container p, .mapa iframe{
        width: 100%;
    }
    .text-container{
        padding: 0px;
        padding-right: 0px;
    }
    #carouselExampleSecond{
        width: 100%;
    }
    .nav-link{
      padding-right: 10px !important;
      padding-left: 10px !important;
    }
  }
@media screen and (max-width:386px){
    .container{
        padding-top: 10px;
        margin-bottom: 10px;
        font-size: 12px !important;
    }
    .dropdown-item{
        font-size: 12px !important;
    }
    .dropdown-menu{
        background-color: #0099cc;
        width: 270px;
    }
    .dropdown:hover .dropdown-menu{
        display: inline;
    }
    .slide{
        margin-bottom: 10px;
    }
    #container{
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }
    .titulo-servicios{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .card{
        height: 270px;
    }
    .card .info{
        transform: translateY(200px);
    }
    .card .info p{
        font-size: 11px;
    }
    .card .info .frp,.mpepi,.vi,.bi,.ime{
        font-size: 12px;
    }
    .card:hover .info{
        transform: translateY(40px);
    }
    .card::before{
        height: 15%;
    }
    .card:hover::before{
        height: 80%;
    }
    .logo{
        height: 50px;
    }
    .swiper{
        width: 70%;
    }
    .swiper-slide{
        width: 100px;
    }
}
@media screen and (max-width:992px){
    .container{
        font-size: 20px;
    }
}
